.trending_bar{
    text-align: left;
    display: flex;
    width: 200px;
    height: 10px;
    background-color: #B50D65; 
    padding: 17px 5px 17px 26px;
    align-items: center;
    border-radius: 20px;
}
.word_font{
    color: #E6EAEF;
    padding: 5px;
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.trending_container{
    width: 300px;
    position: 'fixed'; 
}
.spacer {
    height: 20px; /* Adjust the height as needed for spacing */
}

