.trending_bar{
    text-align: left;
    display: flex;
    width: 150px;
    height: 10px;
    background-color: #B50D65; 
    padding: 17px 10px 17px 26px;
    align-items: center;
    border-radius: 20px;
}
.word_font{
    color: #E6EAEF;
    padding: 5px;
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.trending_container{
    width: 300px;
    padding: 5px 30px 1px 26px;
    margin-left: 1200px; 
    margin-bottom: 1px;
    position: 'absolute'; 
}
.spacer {
    height: 20px; /* Adjust the height as needed for spacing */
}

.search_bar{
    height: 10px;
    width: 290px; 
    background-color: rgba(155,155,155,0.2); 
    padding: 17px 10px 17px 26px;
    align-items: center;
    border-radius: 20px;
}