/*Interaction button and interactive buttons*/
.InteractionButton {
    position: absolute;
    bottom: 48px;
    width: 600px;
    height: 32px;
    flex-shrink: 0;
    justify-content: center;
}

.InteractionButton button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 30px;
    /* Adjust padding as necessary */
}