.Playback-Button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
.Playback-Button svg {
    display: block; /* Removes potential extra space beneath the SVG */
  }
  