/*Post frame*/
.Post {
    position: relative;
    width: 600px;
    height: 565px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    background: #C5D7ED;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    align-items: center;
}

/*dividing line*/
.Post::after {
    content: 'dividing line';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 600px;
    height: 3px;
    background: #787070;
    /* Set the color of the dividing line */
}

/*Vibe status*/
.VibeStatus {
    color: #222932;
    position: absolute;
    top: 23px;
    left: 25px;
    width: 550px;
    height: 70px;
    flex-shrink: 0;
    text-align: left;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.vibe-text {
    display: flex;
    width: 350px;
    height: 66px;
    justify-content: left;
    align-items: left;
    flex-shrink: 0;
    color: #222932;
    font-family: 'Pacifico';
    font-size: 32px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    letter-spacing: -0.9px;
}

.vibeEmoji {
    position: absolute;
    right: 40px;
    bottom: 29px;
    align-items: right;
    display: flex;
    width: 36px;
    height: 36px;
    font-size: 36px;
}


/*User info bar*/
.UserInfo {
    position: absolute;
    left: 28px;
    top: 115px;
    width: 550px;
    height: 45px;
    flex-shrink: 0;
}


.PublicName {
    position: absolute;
    left: 60px;
    bottom: 35px;
    display: flex;
    width: 288px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #222932;
    font-family: 'Quattrocento';
    font-size: 17px;
    font-style: normal;
    font-weight: 550;
    text-align: left;
    line-height: normal;
    letter-spacing: -0.25px;
}

.UserHandle {
    position: absolute;
    left: 60px;
    bottom: 20px;
    display: flex;
    width: 78px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #6f7072;
    font-family: 'Quattrocento';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    line-height: normal;
    letter-spacing: -0.25px;
}

.Timestamp {
    position: absolute;
    right: 60px;
    bottom: 28px;
    display: flex;
    width: 53px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #54404d;
    font-family: Quando;
    font-size: 14px;
    font-style: normal;
    font-weight: 580;
    text-align: left;
    line-height: normal;
    letter-spacing: -0.25px;
}

/*album whole view*/
.player {
    position: absolute;
    left: 0px;
    top: 155px;
    display: flex;
    width: 250px;
    height: 600px;
    justify-content: left;
    align-items: left;
    flex-shrink: 0;
}


/*Song info brief view frame*/
.SongINFO_BV {
    position: absolute;
    left: 30px;
    bottom: 67px;
    width: 550px;
    height: 88px;
    flex-shrink: 0;
    justify-content: center;
}

.SongName {
    position: absolute;
    left: 105px;
    bottom: 45px;
    display: flex;
    width: 350px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #222932;
    font-family: Quattrocento;
    font-size: 22px;
    font-style: normal;
    font-weight: 580;
    text-align: left;
    line-height: normal;
    letter-spacing: -0.25px;
}

.ArtistName {
    position: absolute;
    left: 105px;
    bottom: 23px;
    display: flex;
    width: 185px;
    height: 23px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #222932;
    font-family: 'Quattrocento';
    font-size: 17px;
    font-style: normal;
    font-weight: 450;
    text-align: left;
    line-height: normal;
    letter-spacing: -0.21px;
}

.Album_BV {
    position: absolute;
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    justify-content: space-around;
}

.InteractionBar {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 24px; /* Adjust padding as necessary */
    justify-content: center;
  }

.PlayButtonFrame {
    position: absolute;
    right: 50px;
    bottom: 20px;
    width: auto;
    height: auto;
    flex-shrink: 0;
}


.InterCounter{
    position: absolute;
    bottom: 63px;
    width: 100%;
    height: 20px;
    flex-shrink: 0;
    justify-content: space-around;
    font-family: 'Pacifico';
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    text-align: center;
    line-height: normal;
    color: #222932;
    pointer-events: none;
}
.InterCounter span{
    background: transparent;
    border: none;
    padding: 40.5px;
}
